<h1>About ChineseFlashCardsOnline.com</h1>

<div class="text-content">
  <p>
    I'm Jason Swett.
    I'm a computer programmer and student of the Chinese language.
  </p>

  <p>
    I created ChineseFlashCardsOnline.com because I wanted a simple, ad-free
    flashcard app that was easy and fun to use.
  </p>

  <p>
    If you have any questions or suggestions regarding the app,
    I can be reached at <%= mail_to "jason@codewithjason.com" %>.
  </p>

  <p>
    Jason Swett<br>
    Creator, ChineseFlashCardsOnline.com
  </p>
</div>

<%= image_tag("shuo.png") %>
