<div id="<%= dom_id phrase %>">
  <p>
    <strong>English:</strong>
    <%= phrase.english %>
  </p>

  <p>
    <strong>Pinyin:</strong>
    <%= phrase.pinyin %>
  </p>

  <p>
    <strong>Chinese simplified:</strong>
    <%= phrase.chinese_simplified %>
  </p>

</div>
