<p style="color: green"><%= notice %></p>

<h1>Phrases</h1>

<div class="field">
  <%= link_to "New Phrase", new_phrase_path, class: "btn" %>
</div>

<table class="mt-10">
  <tr>
    <th class="border border-black p-2">Chinese</th>
    <th class="border border-black p-2">Pinyin</th>
  </tr>

  <% @phrases.each do |phrase| %>
    <tr>
      <td class="border border-black p-2"><%= phrase.chinese_simplified %></td>
      <td class="border border-black p-2"><%= phrase.pinyin %></td>
    </tr>
  <% end %>
</table>
