<div id="<%= dom_id word %>">
  <p>
    <strong>English:</strong>
    <%= word.english %>
  </p>

  <p>
    <strong>Pinyin:</strong>
    <%= word.pinyin %>
  </p>

  <p>
    <strong>Chinese simplified:</strong>
    <%= word.chinese_simplified %>
  </p>

</div>
