<div class="card">
  <div class="card-inner">
		<%= @word.chinese_simplified %>
  </div>
</div>

<div class="answers" data-controller="answers">
  <% @options.each do |option| %>
    <%= link_to option,
      root_path,
      class: "answer-button #{option == @word.pinyin ? "correct-answer" : ""}",
      data: { action: "click->answers#select" } %>
  <% end %>
</div>
