@tailwind base;
@tailwind components;
@tailwind utilities;

.field {
  @apply my-4;
}

.field label {
  @apply font-bold;
}

input[type=text] {
  width: 300px;
  @apply rounded;
}

.btn, input[type=submit] {
  @apply text-white no-underline bg-blue-600 px-4 py-2 rounded mb-4;
}

h1, h2 {
  font-size: 150%;
  @apply font-bold mb-4;
}

body {
  background-color: #EEE;
  margin: 0;
  padding: 10px 15px;
}

.card {
  background-color: #FFF;
  border-radius: 10px;
  font-size: 120px;
  border: 2px solid #CCC;
  width: 280px;
  height: 280px;
  margin: 80px auto 0 auto;
  display: flex;
  align-items: center;
}

.answers {
  max-width: 400px;
}

.answer-button {
  background-color: #FFF;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  border: 2px solid #CCC;
  padding: 15px;
  min-width: 100px;
  text-align: center;
  font-size: 24px;
}

a {
  color: #00F;
  text-decoration: underline;
}
